body {
    
  background-color: rgb(80, 137, 241);
    background-position: center;
    background-size: 8%; 
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;

}

a
{
    text-decoration: none;
    color:#ffffff

}


h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px rgb(40, 96, 161), 0 0 92px rgb(40, 96, 161);
    
}


.nav-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #362fd9;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
    font-family: "Oswald", "Kanit";
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .nav-logo {
    display: block;
    position: relative;
    top: 7px;
  }
  .nav-lista {
    display: flex;
    margin-right: 2rem;
    text-transform: uppercase;
  }
  
  .nav-lista a {
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    top: 5px;
  }
  
  .nav-lista a:link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-lista a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-lista a:hover {
    color: #000000;
    text-decoration: none;
  }
  
  .nav-lista a:active {
    color: #a46ff8;
    text-decoration: none;
  }
  
  .nav-bar ul {
    list-style-type: none;
  }
  
  .nav-bar .icon {
    display: none;
  }
  

footer {

    display: block;
    background-color: #362fd9;
    color:#ffffff;
    

}

@media  screen and (max-width: 1920px)  {
    footer {
      margin-top: 10%;
    }
  }

.pie {

    text-align: center;
    padding: 5px;
    padding-bottom: 23px;
    
}

.logos {
    
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;


}

.contenedores {
    
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.logo {

    border: double;
    border-width: 1px;
    box-sizing: border-box;
    width: 250px;
    height: 425px;
    border-color: rgb(40, 96, 161);
    margin-bottom: 3%;
    text-transform: uppercase;
    background-color: #85cdfd4c;
    transition: width 2s, background-color 1s, box-shadow 1s;
    text-align: center;
    
    

    
}

.logo:hover{    transform: translate(1%, -5%) scale(1.1);

}

